# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# IDE
.idea/
.vscode/

# Virtual Environment
venv/
env/

# Local development settings
.env

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride